.d-places
  font-size .8em
  box-sizing border-box
  width 350px
  border 1px solid transparent
  padding 1em
  margin 0
  border-radius 2px
  background-color: $colors['white']
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02)

  &:focus
    border-color: $colors['blue']
    outline none
