.l-loading
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  font-size 10vmin

.l-nav
  font-size 12px
  height 30px
  padding 0 10px
  background-color: $colors['darkGrey']

  a
    line-height 30px
    text-decoration none
    color: $colors['grey']
    display block
    float left

  a.active
    color: $colors['white']

  a + a
    margin-left 20px

.l-content
  height calc(100vh - 30px)

.l-note
  padding 2em

  h1
    font-size 2em
    font-weight 500
    margin 0 0 .7em 0

  p
    line-height 1.3em

  p + p
    margin-top 1em
